<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
    </tr>
    </thead>
    <tbody>



    <tr th:each="mentor:${mentor}">
        <td th:text="${mentor.firstName}"></td>
        <td th:text="${mentor.lastName}"></td>
        <td th:text="${mentor.age}"></td>
        <td th:text="${mentor.gender}"></td>
    </tr>
    <tr>
        <td>Tom</td>
        <td>Hanks</td>
        <td>65</td>
        <td>MALE</td>
    </tr>
    <tr>
        <td>Ammy</td>
        <td>Bryan</td>
        <td>25</td>
        <td>FEMALE</td>
    </tr>
    </tbody>
</table>

</body>
</html>